<% if (theme.googleads.square) { %>
    <section class='widget <%- item.widget?item.widget:'advertise' %>'>
        <%- partial('header', {item: item, defIcon: '', defTitle: ''}) %>
        <div class='content <%= theme.style %>'>
            <%- markdown(item.body) %>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 正方形卡片 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-1774278264048334"
                data-ad-slot="1492300051"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </section>
<% } %>
      