<% if (theme.otherplatform.enable) { %>
    <section class='widget <%- item.widget?item.widget:'platform' %>'>
        <%- partial('header', {item: item, defIcon: '', defTitle: ''}) %>
        <div class='content <%= theme.style %>'>
            &nbsp;&nbsp;&nbsp;
            <span><a href="https://segmentfault.com/u/tanrigongyibing" title="思否" rel="external nofollow" target="_blank"><img src="/images/sf1.png" width="30"></a></span>
            <span><a href="https://juejin.im/user/5d072f9b5188257de35fd756" title="掘金" rel="external nofollow" target="_blank"><img src="/images/juejin.png" width="30"></a></span>
            <span><a href="https://www.jianshu.com/u/9f9cb4189453" title="简书" rel="external nofollow" target="_blank"><img src="/images/jianshu.png" width="30"></a></span>
            <span><a href="https://blog.csdn.net/yusimiao" title="CSDN" rel="external nofollow" target="_blank"><img src="/images/csdn.svg" width="30"></a></span>
            <span><a href="https://www.zhihu.com/people/claus-yu/activities" title="知乎" rel="external nofollow" target="_blank"><img src="/images/zhihu.png" width="30"></a></span>
            <span><a href="https://www.toutiao.com/c/user/103333527519/#mid=1637550143042563" title="头条" rel="external nofollow" target="_blank"><img src="/images/toutiao.png" width="30"></a></span>
            <span><a href="https://my.oschina.net/u/4149877" title="开源中国" rel="external nofollow" target="_blank"><img src="/images/osc.png" width="30"></a></span>
        </div>
    </section>
<% } %>
      